<div class="container mt-3">
    <div class="row g-3">
        <div *ngFor="let persona of PERSONA" class="col-3">
            <div class="card">
                <h5 class="card-title">{{persona.id}} .- {{persona.nombre | titlecase}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Edad:{{persona.edad}}</h6>
                <h6>Carrera</h6>
                <!-- <p class="card-text">{{persona.carrera}}</p>
                <h6 class="mt-1">Fecha de Inicio</h6>
                <p>{{persona.fechaIncorporacion | date }}</p> -->
            </div>
        </div>
    </div>
</div>