<h1 mat-dialog-title>Crear persona</h1>
<div mat-dialog-content>
  <form [] (ngSubmit)="formPersona">
    <mat-form-field appareance="fill" class="w-100">
        <mat-label>Nombre</mat-label>
        <input matInput  formControlName="nombre" placeholder="Ingrese un nombre">
      </mat-form-field>
    <mat-form-field appareance="fill" class="w-100">
        <mat-label>Edad</mat-label>
        <input matInput  formControlName="edad" placeholder="Ingrese un nombre">
      </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button  (click)="guardar()">Guardar</button>
</div>